*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: Open Sans;
    #header1{
        background-color: white;
        position: sticky;
        top: 0;
        z-index: 1000;
        border-top: 1px solid rgba(128, 128, 128, 0.247);
        border-bottom: 1px solid rgba(128, 128, 128, 0.247);
        // border-bottom: 1px solid grey;
        .top{
            border-bottom: 1px solid rgba(128, 128, 128, 0.247);
            padding: 1em;
        }

        .svg1{
            width: 100%;
            position: static;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            svg{
                width: 5.5rem;
            }
        }
        .last{
            .last1{
                display: flex;
                float: right;
                padding: 1.4em ;
                margin-top: -60px;
                justify-content: center;
                transform: scale(.8);
                a{
                    display: block;
                    position: relative;
                    padding: 0em 1em;
                    border-left: 2px solid rgba(128, 128, 128, 0.219);
                    text-decoration: none;
                    color: black;
                }
                a:hover{
                    color: #1277d9;
                }
                #svgex{
                    border: none;
                }
    
                #svgex:hover{
                    fill: #1277d9 !important;
    
                }
            }
        }
        .bottom{
            width: 90%;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: space-around;
            font-family: open sans regular;
            a:hover{
                        background-color: rgba(0, 0, 0, 0.041) !important;

            }
            &>div{
                padding: .9em;
                padding-bottom: 0;
                
                a{
                    text-decoration: none;
                    color: black;
                    font-weight: 700;
                    font-size: .9rem;
                    font-family: Open Sans Condensed;
                    text-transform: uppercase;
                    transition: 500ms;
                    display: block;
                    white-space: nowrap;
                    padding-bottom:1em ;
                }
                
                .show{
                    width: 100%;
                    transform: scale(1,0);
                    padding: 1em;
                    position: absolute;
                    left: 0;
                    display: grid;
                    grid-template-columns: auto auto auto auto;
                    background-color: white;
                    border-top: 1px solid rgba(128, 128, 128, 0.233);
                    z-index: 1000;
                    transition: 500ms;
                    transform-origin:top ;
                    justify-content: space-between;
                    
                    a{
                        color: rgba(0, 0, 0, 0.651) !important;
                        padding: .7em 4em;
                        font-weight: normal;
                        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
                        font-size: .8rem;
                        width: 100%;
                        background-color: white !important;
                       b{
                        color: black;
                        font-size: .7rem;
                        transition: 500ms;
                       }
                    }
                    a:hover{
                        color: #1277d9 !important;
                        background-color: rgba(0, 0, 0, 0.041) !important;
                        b{
                            color: #1277d9;
                        }
                    }
                }
            }
            &>div:hover{
                background-color: rgba(0, 0, 0, 0.048);
                a{
                        color: #1277d9;
                        background-color: transparent !important;
                    }
                    &>div{

                    transform: scale(1,1);
                }

            }
        }
    }
    }

    #header2{
        display: none;
        background-color: white;
        top: 0;
        z-index: 1000;
        border-top: 1px solid rgba(128, 128, 128, 0.247);
        border-bottom: 1px solid rgba(128, 128, 128, 0.247);
        // border-bottom: 1px solid grey;
        .top{
            border-bottom: 1px solid rgba(128, 128, 128, 0.247);
            padding: 1em;
        }

        .svg1{
            width: 100%;
            position: static;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            svg{
                width: 5.5rem;
            }
        }
        .last{
            .last1{
                display: flex;
                float: right;
                padding: 1.4em ;
                margin-top: -60px;
                justify-content: center;
                transform: scale(.8);
                a{
                    display: block;
                    position: relative;
                    padding: 0em 1em;
                    border-left: 2px solid rgba(128, 128, 128, 0.219);
                    text-decoration: none;
                    color: black;
                }
                a:hover{
                    color: #1277d9;
                }
                #svgex{
                    border: none !important;
                }
    
                #svgex:hover{
                    fill: #1277d9 !important;
    
                }
            }
        }

        .bottomhover{
            transform: scale(1,1) !important;

        }

        .bottom{
            transform: scale(1,0);
            transform-origin: top;
            transition: 500ms;
            width: 90%;
            margin: auto;
            display: grid;
            grid-template-columns: 100%;
            align-items: center;
            justify-content: space-around;
            font-family: open sans regular;
            span{
                float: right;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                background-color: #1276d921;
                padding: .2em;
                z-index: 1000;
            }
            a:hover{
                        background-color: rgba(0, 0, 0, 0.041) !important;

            }
            &>div{
                padding: .9em;
                padding-bottom: 0;
                
                a{
                    text-decoration: none;
                    color: black;
                    font-weight: 700;
                    font-size: .9rem;
                    font-family: Open Sans Condensed;
                    text-transform: uppercase;
                    transition: 500ms;
                    display: block;
                    white-space: nowrap;
                    padding-bottom:1em ;
                }
                
                .show{
                    width: 100%;
                    transform: scale(1,0);
                    padding: 1em;
                    position: absolute;
                    left: 0;
                    display: grid;
                    grid-template-columns: 100%;
                    background-color: white;
                    border-top: 1px solid rgba(128, 128, 128, 0.233);
                    z-index: 1000;
                    transition: 500ms;
                    transform-origin:top ;
                    justify-content: space-between;
                    
                    a{
                        color: rgba(0, 0, 0, 0.651) !important;
                        padding: .7em 4em;
                        font-weight: normal;
                        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
                        font-size: .8rem;
                        width: 100%;
                        background-color: white !important;
                       b{
                        color: black;
                        font-size: .7rem;
                        transition: 500ms;
                       }
                    }
                    a:hover{
                        color: #1277d9 !important;
                        background-color: rgba(0, 0, 0, 0.041) !important;
                        b{
                            color: #1277d9;
                        }
                    }
                }
            }

            .onhover{
                background-color: rgba(0, 0, 0, 0.048) !important;
                color: #1277d9 !important;
                a{
                        background-color: transparent !important;
                    }
                .show{
                    transform: scale(1,1) !important;
                background-color: #ffffff !important;
a{
    background-color: transparent !important;
    b{
        background-color: transparent;
    }
}
                }

            }
        }
        #menu{
            position: absolute;
            top: 20px;
            border: none;
            background-color: white;
            cursor: pointer;
        }
    }


    @media (max-width:900px) {
        #header1{
            display: none;
        }
        #header2{
            display: block;
        }
    }

    @media (max-width:500px){
        .svg1{
            justify-content: left;
            align-items: left;
            svg{
            left: 0;
            border: 1px solid red;
            float: left;
            margin-left: -200px;
            }
          
        }
    }